
.content{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: center;
}

.content h3{
    font-size: 20px;
    font-weight: 900;
    color: #3D1101;
    margin-bottom: 35px;
}

.box{
    width: 300px;
}

.box li{

    display: flex;
    justify-content: center;
}

.box form h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 900;
    color: #3D1101;
    text-align: center;
}

.box form{
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    width: 300px;
    margin-bottom: 30px;
    border-top:3px solid orange;
    padding-left: 3%;
    padding-right: 3%;
}


form  .input-container{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    position: relative;
}


form input[type="email"],form input[type="password"]{
    width: 100%;
    height: 32px;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    padding-left:  25px;
}

form a{
    color: #ff5e45;
}
form a:hover{
    color: blue;
}

form .icon {
    position: absolute;
    top: 10px;
    left: 5px;
}

form label{
    font-family: "MicrosoftJhengHei";
    font-size: 16px;
    color: #3D1101;
}

.buttons {

    display: flex;
    margin-top: 30px;
    justify-content:space-between;
    margin-bottom: 15px;
    font-size: 14px;
}


.buttons a{
    align-items: center;
    text-align: center;
    padding-bottom: 9px;
    width: 46.296%;

}


.buttons .register {
    background: rgba(0,0,0,0.35);
    padding-top: 12px;
    border-radius: 3px;
    color: #ECECEC;
}

.register:hover{
    background: rgba(0,0,0,0.65);
}

.buttons input[type="submit"]{
    width: 46.296%;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #ff5e45;
    border: none;
    border-radius: 3px;
    color: #ECECEC;
}

input[type="submit"]:hover{
    background:#9d4414  ;
}