
.feature{
    max-width: 100%;
}


.feature ul{
    display: flex;
    padding-right: 3%;
    justify-content: space-around;
}

@media(max-width:650px){
    .feature ul{
        display: block;
    }
}


h2{
    position: relative;
    width: 21.97%;
    margin-top: 50px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #3d1101;
    background-color: #EFE9E7;
    font-weight: 500;
    z-index: 2;
    margin-bottom: 31px;
    margin-left: 39.25%;
    margin-right: 41.11%;
}


.content .line{
    position: absolute;
    content: "";
    border: 1px solid #3D1101;
    width: 45.019%;
    top: 502px;
    left: 27%;
}

@media(max-width:910px){
    h2{
        width: 30%;
        margin-left: 34.25%;
    }

    .content .line{
        left: 27%;
    }
}

@media(max-width:652px){
    h2{
        width: 40%;
        margin-left: 32.25%;
    }

    .content .line{
        width: 60%;
        left: 22%;
    }
}

@media(max-width:625px){
    h2{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}


@media(max-width:650px){
    
    .content .line{
        display: none;
    }
}


.feature ul li{
    width: 25.39%;
    text-align: center;
}

.feature img{
    border-radius: 50%;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 11px;
}

.feature p{
    font-size: 16px;
    text-align: left;
    white-space:break-spaces;
}

@media(max-width:650px){
    .feature ul li{
        width: 100%;
        
    }

    .feature p{
        margin: 0 auto;
        width: 50%;
        margin-bottom: 20px;
    }
}

@media(max-width:400px){
    .feature ul li{
        width: 100%;
        
    }

    .feature p{
        width: 90%;
        margin-left: 10%;
    }
}


.chef {
    margin-top: 50px ;
    background: #3D1101;
    display: flex;
}

.chef img{
    margin-left: 4.1%;
    margin-right: 2.5%;
}

@media(max-width:700px){
    .chef{
        display: block;
    }

    .chef img{
        margin-left: 0%;
        width: 100%;
    }

    .intro{
        border: 1px solid;
        margin-right: 10%;
        margin-left: 10%;
    }
    .intro  p br{
        display: none;
    }

    
}

@media(max-width:348px){
    .intro h4{
        font-size: 18px;
    }
}

.intro{
    color: #EFE9E7;
}

h4{
    font-size: 20px;
    line-height: 32px;
    margin-top: 81px;
}


.intro p{
    max-width: 100%;
    font-size: 16px;
    line-height: 120%;
}


.feelings{
    margin-top: 50px;
}

h5{
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
}

.feelings ul{
    display: flex;
    padding-left: 4.1%;
    padding-right: 2.1%;
}

.feelings li{

    width: 31.25%;
    padding-right: 2%;
}

.feelings img{
    float: left;
    border-radius: 50%;
    margin-right: 13px;
}

h6{
    margin-top: 24.5px;
    font-size: 18px;
}

.feelings p{
    margin-left: 80px;
    font-size: 15px;
    line-height: 24px;
    color: #3D1101;
}

.feelings .nickname{
    text-align: end;
}

.map{
    background: rgba(250,250,250,0.7);
    width: 100%;
}

.map h5{
    padding-top: 50px;
    margin-bottom: 38px;
}   

.map img{
    margin-left: 42px;
    margin-bottom: 50px;
}

.map ul{
    display: flex;
    width: 100%;
}

.map li {
    width: 100%;
}

.map form{
    margin-left: 20px;
    max-width: 100%;
    margin-right: 11px;
}

.map input[type=text],input[type=tel], input[type=email],input[type=number]{
    width: 100%;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    font-size: 22px;
    margin-top: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.map input[type="radio"]{
    margin-right: 36px;
}

.map input[type="submit"],input[type="reset"]{
    border: none;
    margin-top: 20px;
    font-size: 14px;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    
}

.map input[type="reset"]{
    background-color: gray;
    margin-right: 11px;
}

.map input[type="submit"]{
    background-color: orange ;
}

.map .buttons{
    display: flex;
    justify-content: end;
}

@media(max-width:799px){
    .map li img{
        width: 90%;
        height: 90%;
    }

}




input[type="submit"]:hover,input[type="reset"]:hover{
    transform: scale(1.1)
}

.map label{
    font-size: 14px;
}



