
.feature{
    max-width: 100%;
}

h2{
    width: 21.97%;
    margin-top: 50px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #3d1101;
    font-weight: 500;
    background: white;
    margin-bottom: 31px;
    margin-left: 39.25%;
    margin-right: 41.11%;
}

.wrap hr{
    position: absolute;
    border: 1px solid #979797;
    width: 45%;
    margin-top: 0;
    z-index: -1;
    top: 502px;
    margin-left: 27.5%;
    margin-right: 27.5%;
}


.feature ul{
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-around;
}

.feature ul li{
    width: 25.39%;
    text-align: center;
}

.feature img{
    border-radius: 50%;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 11px;
}

.feature p{
    font-size: 16px;
    text-align: left;
    white-space:break-spaces;
}

.chef {
    margin-top: 50px ;
    background: #3D1101;
    display: flex;
}

.chef img{
    margin-left: 4.1%;
    margin-right: 2.5%;
}

.intro{
    color: #EFE9E7;
}

h4{
    font-size: 20px;
    line-height: 32px;
    margin-top: 81px;
}

.intro p{
    width: 100%;
    font-size: 16px;
    margin-right: 7.519%;
    line-height: 120%;
    white-space: pre-line;
}

.feelings{
    margin-top: 50px;
}

h5{
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
}

.feelings ul{
    display: flex;
    padding-left: 4.1%;
    padding-right: 2.1%;
}

.feelings li{

    width: 31.25%;
    padding-right: 2%;
}

.feelings img{
    float: left;
    border-radius: 50%;
    margin-right: 13px;
}

h6{
    margin-top: 24.5px;
    font-size: 18px;
}

.feelings p{
    margin-left: 80px;
    font-size: 15px;
    line-height: 24px;
    color: #3D1101;
}

.feelings .nickname{
    text-align: end;
}

.map{
    background: rgba(250,250,250,0.7);
    width: 100%;
}

.map h5{
    padding-top: 50px;
    margin-bottom: 38px;
}   

.map img{
    margin-left: 42px;
    margin-bottom: 50px;
}

.map ul{
    display: flex;
    width: 100%;
}

.map li {
    width: 100%;
}

.map form{
    margin-left: 20px;
    max-width: 460px;
}

.map input[type=text],input[type=tel], input[type=email],input[type=number]{
    width: 100%;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    margin-right: 42px;
    font-size: 22px;
    margin-top: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.map input[type="radio"]{
    margin-right: 36px;
}

.map input[type="submit"],input[type="reset"]{
    border: none;
    margin-top: 20px;
    font-size: 14px;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    
}

.map input[type="reset"]{
    background-color: gray;
    margin-left: 305px;
    margin-right: 11px;
}

.map input[type="submit"]{
    background-color: orange ;
}

input[type="submit"]:hover,input[type="reset"]:hover{
    transform: scale(1.1)
}




.map label{
    font-size: 14px;
}



